 li {
  --c: rgb(187, 227, 237);
  color: white;
  font-size: 16px;
  border: 0.3em solid var(--c);
  border-radius: 0.5em;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}

 li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

 li:hover {
  color: black;
}

 li:hover span {
  transform: translateX(0) scale(2);
}

 li span:nth-child(1) {
  --n: 1;
}

 li span:nth-child(2) {
  --n: 2;
}

 li span:nth-child(3) {
  --n: 3;
}

 li span:nth-child(4) {
  --n: 4;
}

/* ::placeholder {
  font-style: italic;
  color: white;
  font-size: 1em;
  padding: 5px;
  content : "some other placeholder" !important;
} */

.form-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid white;
  border-radius: 16px;
  padding: 16px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-label {
  color: white;
  font-style: italic;
  font-size: 1.125rem;
}

.input-field {
  width: 100%;
  height: 50px;
  background: #353535;
  border-radius: 5px;
  padding: 5px;
  background-color: #888a88;
  color: white;
  font-weight: bolder;
}

.textarea-field {
  height: 150px;
}

.submit-button {
  width: 100%;
  height: 50px;
  background:  rgb(187, 227, 237);
  border-radius: 8px;
  color: black;  
  font-style: italic;
  border: none;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

.submit-button:hover {
  background-color: #202621;
  color: aqua;
}

.submit-button:active {
  transform: scale(0.7);
}
