section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 1000px;
    padding: 14px;
  }
  
  .fade-in2 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out, filter 1s, transform 1s;
    filter: blur(5px);
    transform: translateX(100%);
  }
  
  .fade-in2.showable {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
    transform: translateX(0);
  }
  
  .fade-in2.showable {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
    transform: translateY(0);
  }

  .facebook-svg {    
    height: fit-content;
    transition: 0.3s ease-in-out;  
  }

  .facebook-svg:hover {    
    fill:#1877F2 ;
    transform: scale(0.7);
  }

  .twitter-svg {
    height: fit-content;  
    transition: 0.3s ease-in-out;  
  }

  .twitter-svg:hover {
    fill: #1DA1F2;
    transform: scale(0.7);    
  }

  .github-svg {
    height: fit-content;  
    transition: 0.3s ease-in-out;  
  }

  .github-svg:hover {       
    transform: scale(0.7);
  }